@import '../../variables-mixins';

.header {
	width: 100vw;
	display: flex;
	justify-content: center;
	background-color: $light-mode-elements;
	@include box-shadow;

	&-container {
		width: $width;
		height: 3.5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.title {
			font-size: 1.5rem;
		}

		.dark-mode {
			padding-top: 0.3rem;
			font-weight: 600;
		}
	}
}
